<div class="headerWrapper">
  <div><i>MyLogo</i></div>
  <nav class="navBar">
    <a class="navItem" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a class="navItem" [routerLink]="['post']" routerLinkActive="active">Posts</a>
    <a class="navItem" [routerLink]="['comments']" routerLinkActive="active">Comments</a>
    <a class="navItem" [routerLink]="['photos']" routerLinkActive="active">Photos</a>
    <a class="navItem" [routerLink]="['users']" routerLinkActive="active">Users</a>
  </nav>
</div>



