  <app-loading *ngIf="!chosenUser && chosenId"></app-loading>
<div  *ngIf="chosenUser && !showEditForm" class="chosenUserWrapper">

    <h2 class="center">{{chosenUser.name}}</h2>
    <p><b>username:</b> {{chosenUser.username}}</p>
    <p><b>email:</b> {{chosenUser.email}}</p>
    <p><b>address:</b></p>
        <p class="ml20"><b>street:</b> {{chosenUser.address.street}}</p>
        <p class="ml20"><b>suite:</b> {{chosenUser.address.suite}}</p>
        <p class="ml20"><b>city:</b> {{chosenUser.address.city}}</p>
        <p class="ml20"><b>zipcode:</b> {{chosenUser.address.zipcode}}</p>
        <p class="ml20"><b>location:</b></p>
            <p class="ml40"><b>lat:</b> {{chosenUser.address.geo.lat}}</p>
            <p class="ml40"><b>lng:</b> {{chosenUser.address.geo.lng}}</p>
    <p><b>phone:</b> {{chosenUser.phone}}</p>
    <p><b>website:</b> {{chosenUser.website}}</p>
    <p><b>company:</b></p>
        <p class="ml20"><b>name:</b> {{chosenUser.company.name}}</p>
        <p class="ml20"><b>catchPhrase:</b> {{chosenUser.company.catchPhrase}}</p>
        <p class="ml20"><b>bs:</b> {{chosenUser.company.bs}}</p>

  <div class="btnWrapper">
    <button [routerLink]="['','posts','userId',chosenUser.id]" class="userFullBtnGreen">show posts</button>
    <button (click)="editUserInfo()" class="userFullBtnEdit">edit info</button>
    <button [routerLink]="['','users']" class="userFullBtnRed">close</button>
  </div>

</div>

  <div  *ngIf="chosenUser && showEditForm" class="editUser">
    <div class="vvv"></div>
  <div  class="chosenUserWrapper-2">

    <h2 class="center">{{editingUser.name}}</h2>
    <label class="labelEdit"><b>username:</b>
      <input (input)="editUsername($event)" value='{{editingUser.username}}'>
    </label>
    <label class="labelEdit"><b>email:</b>
      <input (input)="editEmail($event)" value='{{editingUser.email}}'>
    </label>

    <div><b>address:</b></div>
         <label class="labelEdit"><b class="ml20">street:</b>
           <input (input)="editStreet($event)" value='{{editingUser.address.street}}'></label>
         <label class="labelEdit"><b class="ml20">suite:</b>
           <input (input)="editSuite($event)"  value='{{editingUser.address.suite}}'></label>
         <label class="labelEdit"><b class="ml20">city:</b>
           <input (input)="editCity($event)"  value='{{editingUser.address.city}}'></label>
         <label class="labelEdit"><b class="ml20">zipcode:</b>
           <input (input)="editZipcode($event)"  value='{{editingUser.address.zipcode}}'></label>

         <div><b class="ml20">location:</b></div>
              <label class="labelEdit"><b class="ml40">lat:</b>
                <input (input)="editLat($event)"  value='{{editingUser.address.geo.lat}}'></label>
              <label class="labelEdit"><b class="ml40">lng:</b>
                <input (input)="editLng($event)"  value='{{editingUser.address.geo.lng}}'></label>

    <label class="labelEdit"><b>phone:</b>
      <input (input)="editStreet($event)"  value='{{editingUser.phone}}'></label>
    <label class="labelEdit"><b>website:</b>
      <input (input)="editStreet($event)"  value='{{editingUser.website}}'></label>

    <div><b>company:</b></div>
         <label class="labelEdit"><b class="ml20">name:</b>
           <input (input)="editCompanyName($event)"  value='{{editingUser.company.name}}'></label>
         <label class="labelEdit"><b class="ml20">catchPhrase:</b>
           <input (input)="editCatchPhrase($event)"  value='{{editingUser.company.catchPhrase}}'></label>
         <label class="labelEdit"><b class="ml20">bs:</b>
           <input (input)="editBs($event)"  value='{{editingUser.company.bs}}'></label>

    <div class="btnWrapper">
      <button (click)="saveUserInfo()" class="userFullBtnGreen">save info</button>
      <button (click)="closeEditing()" class="userFullBtnRed">close</button>
    </div>

  </div>
  </div>
