.postWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 15px;
}
.postWrapper:hover {
  background-color: #bf88bf;
  cursor: default;
}


.btnShow {
  min-width: 130px;
  height: 30px;
  background-color: #629f62;
}
.btnShow:hover {
  background-color: forestgreen;
  cursor: pointer;
}

.btnClose {
  min-width: 130px;
  height: 30px;
  background-color: indianred;
}
.btnClose:hover {
  background-color: #8b2222;
  cursor: pointer;
}
